# secrets
.env

# lakehouse data —> do NOT commit (ACLED terms need to be respected; don't redistribute data)
lakehouse/bronze/*
lakehouse/silver/*
lakehouse/gold/*
!lakehouse/*/.gitkeep

# python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# os
.DS_Store
